*{
    margin: 0;
    padding: 0;
    }
body{
    margin: 0px;
    padding: 0px;
}
    .notch{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
 
 .image{
    flex-basis: 10%;
 }
.top{
    flex: 1;
    margin-right: 0px;
    text-align:right;
    
    }
  
.top ul li{
    margin-right: 0px;
    margin-left: 0px;
        top: 0px;
        list-style: none;
        display: inline-block;
        padding: 30px;
        position: relative;
        }
.top ul li a{
    color: rgb(0, 0, 0);
text-decoration: none;
font-size: 16px;
font-family: 'Poppins', sans-serif;
}

    .top ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background:#e1f77e;
    display: block;
    margin: auto;
    transition: 0.3s;
    }
    .top ul li:hover::after{
    width: 100%;
    }
    .box{
        flex: 0;
    margin-left: 0px;
    margin-right: 80px;
    text-align:right;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
        
        border: 0px solid #e1f77e;
        padding: 12px 4px;
        font: size 18px;
        background: transparent;
        position:relative;
        cursor: pointer;

    }
    .box a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .box:hover{
        border: 0px solid #e1f77e;
        background: #e1f77e;
        transition: 0.5s;
    }
    .header{ 
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(1E3q.gif);
        background-position: center;
        background-size: cover;
        position: relative;
       }
       .text{
        position: absolute;
        width: 90%;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align:center;
    
    }
       .text h1{
        font-size: 60px;
        color:#fff; 
        font-family: 'Poppins', sans-serif;
       }
    .text p{
        font-size: 20px;
        color:#fff; 
        font-family: 'Poppins', sans-serif;
    }
    .content ul{
        margin-left: 50px;
    }
    .content ul li{
        margin-right: 50px;
        padding: 30px 12px;
    }
    .content ul li a{
        color:white;
    }
  